### Miscellaneous
.DS_Store
Thumbs.db

### Homestead
after.sh
aliases
Homestead.yaml
Vagrantfile

### Vagrant
/.vagrant

### Composer
/vendor/

### IDE
/.idea

### PHPCS
cs_fixer*
.php_cs.cache

### NodeJS
node_modules/

### WordPress
/htdocs/cms/
/htdocs/content/uploads/
/htdocs/content/plugins/*
!/htdocs/content/plugins/advanced-custom-fields-pro/
/htdocs/content/upgrade/

### Environment Credentials
.env
public/htdocs/dist/app.js
htdocs/content/public/logos
htdocs/content/public/facturas
yarn.lock
package-lock.json
public/mix-manifest.json
htdocs/content/themes/meat-theme/dist
credentials.json