.hero-blog {
  padding-top: 106px;
  margin-bottom: 50px;
  @include mq($until: large) {
    padding-top: 61px;
  }
  $component: &;
  &__title {
    margin: 50px 0;
    @include mq($until: large) {
      margin: 36px 0;
    }
  }
  &__highlighted-posts {
    background-color: $skyblue_2;
    border-radius: 10px;
    padding: 50px 80px;
    position: relative;
    overflow: hidden;
    opacity: 0;
    @include mq($until: large) {
      padding: 20px 10px;
    }
  }
  &__slider {
    position: relative;
  }
  &__post {
    display: flex;
    align-items: flex-start;
    column-gap: 60px;
    @include mq($until: large) {
      flex-direction: column;
      row-gap: 50px;
    }
  }
  &__thumbnail {
    transition: .325s;
    object-fit: cover;
  }
  &__thumbnail-link {
    overflow: hidden;
    border-radius: 10px;
    @include hover {
      #{$component} {
        &__thumbnail {
          transform: scale(1.1);
        }
      }
    }
  }
  &__post-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
    margin-bottom: 16px;
  }
  &__tag {
    @include p('--small');
    display: inline-block;
    padding: 2px 8px;
    background-color: var(--tag-color, #B8E5B8);
    border-radius: 5px;
    white-space: nowrap;
    @include mq($until: tablet) {
      font-size: 12px;
      padding: 5px 8px;
    }
  }
  &__date {
    @include p('--small');
    display: inline-block;
    margin-bottom: 16px;
    color: $gray_2;
  }
  &__post-title {
    margin-bottom: 16px;
    @include mq($until: large) {
      font-size: 20px;
    }
  }
  &__description {
    @include p('--large');
    color: $gray_2;
    margin-bottom: 24px;
  }
  &__link {
    @include p;
    font-weight: 600;
    text-decoration: underline;
    transition: .325s;
    @include hover {
      color: $violet;
    }
  }
  &__slider-controls {
    justify-content: flex-end;
    position: relative;
    z-index: 1;
  }
}
